* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio{
    width: 100%;
    height: 600px;
    background: url(../imagenes/bakery-1868396.jpg);
    background-size: cover;
   
}
.inicio h1{
    font-size: 90px;
    padding-top: 250px;
    color: white;

}
.boton{
    color: white;
  padding: 10px;
  background: none;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.425);
  font-weight: 600;

  
}